name: Setup Prometheus, Grafana, and NextDNS Exporter

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  setup-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker
      run: |
        sudo apt-get update
        sudo apt-get install -y docker.io

    - name: Create Docker Compose file
      run: |
        echo 'version: "3.7"
        
        services:
          nextdns-exporter:
            build:
              context: .
            restart: unless-stopped
            ports:
              - 9948:9948
            environment:
              NEXTDNS_PROFILE: ${{ secrets.NEXTDNS_PROFILE }}
              NEXTDNS_API_KEY: ${{ secrets.NEXTDNS_API_KEY }}
              NEXTDNS_RESULT_WINDOW: -1m

          prometheus:
            image: prom/prometheus:v2.40.3
            restart: unless-stopped
            ports:
              - 9090:9090
            volumes:
              - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

          grafana:
            image: grafana/grafana-oss:9.2.6
            restart: unless-stopped
            ports:
              - 3000:3000
            volumes:
              - ./grafana/grafana.ini:/etc/grafana/grafana.ini
              - ./grafana:/etc/grafana/provisioning' > docker-compose.yml

    - name: Start Docker Compose
      run: |
        docker-compose up -d

    - name: Wait for services to be ready
      run: |
        sleep 60

    - name: Run Prometheus query to check if services are running
      run: |
        curl -s "http://localhost:9090/api/v1/query?query=up" | jq .

    - name: Stop Docker Compose
      if: always()
      run: |
        docker-compose down
